{% polymer element "node-element" %}
<template>
    <article [[attributes1]]>
        <h2>
          <a href="[[ url ]]" rel="bookmark" inner-h-t-m-l="[[ label ]]"></a>
        </h2>

        <footer class="node__meta">
          <div inner-h-t-m-l='<twig>{% trans %}Submitted by [[ authorName ]] on [[ date ]]{% endtrans %}</twig>'>

          </div>
        </footer>

      <div inner-h-t-m-l="[[ maincontent ]]">

      </div>

    </article>
</template>
<script>
  Polymer({
    is: 'node-element',
    properties: {
        url: String,
        maincontent: String,
        authorName: String,
        date: String,
        label: String,
        attributes1:String
    }
  });
</script>
{% endpolymer %}

